.button {
    border: 8px;
    color:rgb(255, 255, 255);
    background-color: darkcyan;
    padding: 15px 32px;
    text-align: center;
    font-size: medium;
    border-radius: 3px;
    transition-duration: 0.15s;
    float: left;
}

.button:hover {
    background-color: blue;
    color: aqua;
}

.butonAlert {
    border: 8px;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: medium;
    border-radius: 3px;
    transition-duration: 0.15s;
    float: left;
    top: 850px;
    left: 1000px;
    position: absolute;
}

.butonAlert:hover {
    background-color: rgb(184, 0, 0);
    color: rgb(184, 0, 0);
}